@import url(../../vars.css);

.moviecard {
    position: relative;
}

.movieData {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.3rem 0;
}

.movieData-title {
    color: var(--accent1-dark);
    font-size: 1.8rem;
    line-height: 3rem;
}

.movieData-year {
    color: var(--grey);
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 3rem;
}

.movieData-year::before {
    content: '(';
}

.movieData-year::after {
    content: ')';
}

.movieData-director {
    font-size: 1.6rem;
    font-style: italic;
}