@import url(./vars.css);
@import url(./fonts.css);

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  color: var(--text-color);
}


#root {
  padding: 2rem;
  width: calc(100% - 4rem);
}

main {
  padding:2rem;
}

h2 {
  color: var(--accent1-dark);
  font-size: 2rem;
  margin: 2rem 0;
}

.container-form {
  width: 50%;
  margin:5rem auto;
  height: calc(100vh - 29.5rem);
}

.container-form a:link,
.container-form a:active {
  color: var(--accent2);
  text-decoration: none;
}

.container-form a:visited,
.container-form a:hover {
  color: var(--accent2);
  text-decoration: underline;
}

.form {
  font-size: 1.5rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form input {
  display:block;
  width: 100%;
  max-width: 350px;
  border:none;
  border-radius: 5px;
  font-size: 1.8rem;
  line-height: 3rem;
  padding: 0 5px;
  margin-bottom: 1.5rem;
  background-color:var(--text-color);
  color: var(--background-color);
}

.form button {
  background-color: var(--accent1);
  width: 50%;
  max-width: 200px;
  border: none;
  display:block;
  border-radius: 5px;
  font-size: 1.8rem;
  line-height: 3rem;
  padding: 0 15px;
  color: var(--text-color);
  font-weight: bold;
  margin-bottom: 1rem;
}

.user-info {
  background-color: transparent;
  color: var(--text-color);
}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  /* main {
    min-width: 500px;
  } */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* main {
    min-width: 750px;
  } */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* main {
    min-width: 960px;
  } */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  main {
    max-width: 1300px;
  }
}