.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-item {
    display: inline-block;
    margin: 0 5px;
}

.page-item a {
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: bold;
}

.current a {
    color: yellow;
}
