@import url(../../vars.css);

.main-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar {
    list-style-type: none;
    margin:0;
    padding: 0 2rem;
    display:flex;
    font-size: 2rem;
}

.nav-bar li {
    margin-right: 1rem; 
}

.nav-bar li a,
.nav-bar li span {
    display:block;
    padding: 8px 15px;
    background-color: var(--grey);
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.nav-bar .message {
    display:block;
    padding: 8px 15px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
}

.nav-bar .message strong {
    color: var(--accent2);
}

.nav-bar li a.active {
    background-color: var(--accent1-dark);
}